<script>

    // Insert element
    $("#btnsave").click(function () {
        //console.log("SAVE button clicked");
        let sid = $("#stuid").val();
        let nm = $("#nameid").val()
        let em = $("#emailid").val();
        let pw = $("#passwordid").val();
        let csr = $("input[name=csrfmiddlewaretoken]").val();
        if (nm == "") {
            console.log("Please enter name");
        }
        else if (em == "") {
            console.log("Please enter email");
        }
        else if (pw == "") {
            console.log("Please enter password");
        }
        else {
            // object creation
            mydata = { stuid: sid, name: nm, email: em, password: pw, csrfmiddlewaretoken: csr };
            output = ""
            $.ajax({
                url: "{% url 'save' %}",
                type: "POST",
                data: mydata,
                success: function (data) {
                    //console.log(data);
                    x = data.student_data;

                    if (data.status == "Save") {
                        for (i = 1; i < x.length; i++) {
                            output += "<tr><td>" + x[i].id + "</td><td>" + x[i].name + "</td><td>" + x[i].email + "</td><td>" + x[i].password +
                                "</td><td> <input type='button' class='btn btn-warning btn-sm btn-edit' value='Edit' data-sid="
                                + x[i].id + "/> <input type='button' class='btn btn-danger btn-sm btn-del' value='Delete' data-sid="
                                + x[i].id + "/>";
                        }

                        $("#tbody").html(output);
                        $("#msg").text("Form Submitted Successfully")
                        $("#msg").show();
                        $("form")[0].reset();
                    }

                    if (data.status == 0) {
                        $("#msg").text("Unable to save Form")
                        $("#msg").show();
                        console.log("Unable to save Form")
                        $("form")[0].reset();
                    }

                }
            })
        }
    });

    // Delete element
    $("tbody").on("click", ".btn-del", function () {
        let id = $(this).attr("data-sid");
        let csr = $("input[name=csrfmiddlewaretoken]").val();
        console.log(id);
        mydata = { sid: id, csrfmiddlewaretoken: csr }
        mythis = this
        $.ajax({
            url: "{% url 'delete' %}",
            type: "POST",
            data: mydata,
            success: function (data) {
                if (data.status == 1) {
                    $("#msg").text("Data Deleted Successfully")
                    $("#msg").show();
                    //console.log("Data Deleted Successfully");
                    $(mythis).closest("tr").fadeOut();
                }

                if (data.status == 0) {
                    $("#msg").text("Unable to Delete Data")
                    $("#msg").show();
                    //console.log("Unable to Delete Data");
                }
            }
        })
    });

    //Edit
    $("tbody").on("click", ".btn-edit", function () {
        let id = $(this).attr("data-sid");
        let csr = $("input[name=csrfmiddlewaretoken]").val();
        console.log(id);
        mydata = { sid: id, csrfmiddlewaretoken: csr };

        $.ajax({
            url: "{% url 'edit' %}",
            type: "POST",
            data: mydata,
            success: function (data) {
                $("#stuid").val(data.id);
                $("#nameid").val(data.name);
                $("#emailid").val(data.email);
                $("#passwordid").val(data.password);
            }
        })
    });

</script>